
.wrapper {
	max-width: 80%;
}

.home td {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.home tr th {
	border-bottom: 1px solid black;
}

.home tr:last-child td {
	border-bottom: 1px solid black;
}

.home tr td:nth-child(1) {
	width: 5%;
	text-align: center;
}

.home tr td:nth-child(2) {
	width: 5%;
	text-align: center;
}

.home tr td:nth-child(3) {
	width: 30%;
}

.home tr td:nth-child(4) {
	width: 20%;
}

.home tr td:nth-child(5) {
	width: 40%;
}

.home td {
	vertical-align: top;
}

.page-heading {
	margin-top: 1em;
	font-size: xx-large;
	text-align: center;
}

.post-list h2 {
	font-size: large;
}

.notes .post-link {
	display: inline;
}

.notes blockquote {
	margin-left: 1em;
}

.footer-col-3 p {
	text-align: right;
}
