
.wrapper {
	max-width: 80%;
}

.home td {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.home tr th {
	border-bottom: 1px solid black;
}

.home tr:last-child td {
	border-bottom: 1px solid black;
}

/* week number */
.home tr td:nth-child(1) {
	width: 5%;
	text-align: center;
}

/* topic */
.home tr td:nth-child(2) {
	width: 25%;
}

/* reading */
.home tr td:nth-child(3) {
	width: 15%;
}

/* slides */
.home tr td:nth-child(4) {
	width: 15%;
}

/* notes */
.home tr td:nth-child(5) {
	width: 30%;
}

.home td {
	vertical-align: top;
	word-break: keep-all;
}
.home td p {
	margin-bottom: 0;
}

.page-heading {
	margin-top: 1em;
	font-size: xx-large;
	text-align: center;
}

.post-list h2 {
	font-size: large;
}

.notes .post-link {
	display: inline;
}

.notes blockquote {
	margin-left: 1em;
}

.footer-col-3 p {
	text-align: right;
}

.post-list li {
	padding: 0.5em;
}
.post-list li:nth-child(even) {
	background-color: #f7f7f7;
}